<div fxLayout="column" fxLayoutAlign="start stretch">
  <mat-toolbar
    style="background-image: radial-gradient(circle, #343639, #373c3e, #3c4241, #424745, #4a4c48);position: fixed;z-index:1 ;">
    <span>
      <img style="margin-top:1%" class="logo" src="../../../assets/images/vLogo.jpg">
    </span>
    <span class="example-spacer"></span>
    <button mat-button class="content">
      <h4><a href="#about" style="text-decoration:none" class="content">ABOUT</a></h4>
    </button>

    <button mat-button class="content">
      <h4><a href="#exp" style="text-decoration:none" class="content">EXPERIENCE</a></h4>
    </button>

    <button mat-button class="content">
      <h4><a href="#edu" style="text-decoration:none" class="content">STUDY</a></h4>
    </button>

    <button mat-button class="content">
      <h4><a href="#blo" style="text-decoration:none" class="content">BLOG</a></h4>
    </button>

    <button mat-button class="content">
      <h4><a href="#con" style="text-decoration:none" class="content">CONTACT</a></h4>
    </button>
  </mat-toolbar>
  <hr class="content">
  <div fxLayout="row" fxLayoutAlign="center center" style="padding:1%">
    <h3 style="text-align:center" class="content">Hey, I'm Vinay <br>
      Full Stack Web Developer
    </h3>

    <hr class="content">
    
    <mat-card style="background-image: radial-gradient(circle, #343639, #373c3e, #3c4241, #424745, #4a4c48);margin-left:10px;width:auto;margin-top:2%;border:2px solid;border-color:rgb(170, 235, 252)">
      <img style="margin-top:1%" class="image" src="../../../assets/images/vinay2.jpg">
    </mat-card>
    
  </div>
  <hr class="content">

<!-- -------------------------about -------------------------->

<div id="about">

  <h3 style="padding-left: 8%;color: rgb(214, 214, 214);">ABOUT ME
    <hr style="width:30%" id="about">
  </h3>
  <div fxLayout="row" fxLayoutAlign="space-around center" style="padding:1%">

    <h5 class="content" style="padding-right:4%;padding-left: 4%;">I am web developer. I enjoy creating things that live
      on the internet.
      My interest in web development started back in 2019.over 2+ years of IT experience as a web developer. Having extensive knowledge of developing rich Web Service applications. 
      I love the logic and structure of coding
      and always strive to write elegant and effecient code. My main focus these days is
      building accessible, inclusive products and I have serious passion for UI effects, functionality and creating
      intuitive, dynamic user experiences.
      Here are a few technologies I've been working with recently:<br>
      <br>

<div fxLayout="column" fxlayoutAlign="center center">

      <li class="list">JAVASCRIPT</li>
      <li class="list">TYPESCRIPT</li>
      <li class="list">ANGULAR</li>
      <li class="list">NODE JS</li>
      <li class="list">EXPRESS</li>
      <li class="list">MONGO DB</li>
      <li class="list">POSTGRESQL</li>
      <li class="list">JSON</li> 
      </div>
      

     

    
    </h5>
  </div>
  </div>
  
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxLayoutAlign="center center">
      <img style="margin-top:1%" class="about" src="../../../assets/images/fast.jpg">
      <h5 style="text-align:center;color: rgb(214, 214, 214);">Fast</h5>
      <p style="text-align:center" class="content">Fast load times and lag free interaction,<br>my highest priority.</p>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <img style="margin-top:1%" class="about" src="../../../assets/images/bulb.jpg">
      <h5 style="text-align:center;color: rgb(214, 214, 214);">Intuitive</h5>
      <p style="text-align:center" class="content">Strong preference for easy to use, <br>intuitive Backend .</p>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <img style="margin-top:1%" class="about" src="../../../assets/images/rocket.jpg">
      <h5 style="text-align:center;color: rgb(214, 214, 214);">Dynamic</h5>
      <p style="text-align:center;" class="content">Websites don't have to be static, <br>I love making pages come to
        life.</p>
    </div>
  </div>





  <!------------------------- experience ----------------------->
  <hr class="content">
  <div id="exp">
  <h3 style="padding-left: 8%;color: rgb(214, 214, 214);">Where I've Worked
    <hr style="width:30%" >
  </h3>
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
      style="margin-top:20px;border:2px solid;border-color:rgb(170, 235, 252);width: 50%;margin-left: 25%;background-image: radial-gradient(circle, #343639, #373c3e, #3c4241, #424745, #4a4c48);">
      <mat-expansion-panel-header>

        <mat-panel-title class="content">
          <img style="margin-top:1%" class="comp" src="../../../assets/images/lwt.jpg">
          LOTUS WIRELESS TECHNOLOGY
        </mat-panel-title>
        <mat-panel-description style="width:100%">


        </mat-panel-description>
      </mat-expansion-panel-header>
      <li class="rangu">JULY-2022 - Present </li>
      <li class="rangu">ROLE: SOFTWARE DEVELOPER</li>
      <h5 class="content">PROJECT</h5>
      <p class="content">FINSIGHTS</p>
      <p class="rangu">Finsights is an Integrated Modern Analytics Suite for Tally Accounting Software.
        With Finsights Tally app, access Tally ERP9 and Tally Prime data from anywhere in real time.
        Users can seamlessly connect, make entries, visualise, share ledger Information, invoices, outstanding reminders
        and more. Designed for modern entrepreneurs, with Finsights App they can stay in control of their finances even
        when away from workplace.</p>
      <p class="content">ENVINORMENT</p>
      <p class="rangu">Node js,PostgreSQL,Angular12, TypeScript, JavaScript, NPM, Express.js,BootStrap, HTML5,
        CSS3,,Swagger,Passport js </p>
      <p class="content">Responsibilities</p>
      <p class="rangu">
        Built RESTful APIs using Nodejs and Nest js to sync the customer data with our Applications.<br>
        Built a Desktop Application to sync tally data using Electron.<br>
        Work on passport js and craeate a social Authenticaton for login with JWT token and OAUTH2.<br>
        Work on one single push notification for Notifications Alert.<br>
        Implement Razor pay payment gateway for transactions.<br>
        Used Swagger for api Documentations and flow.<br>
        Created a web pages using Angular for Ebizz project (Internal).<br>
      </p>
    </mat-expansion-panel>
  </mat-accordion>



  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
      style="margin-top:20px;border:2px solid;border-color:rgb(170, 235, 252);width: 50%;margin-left: 25%;background-image: radial-gradient(circle, #343639, #373c3e, #3c4241, #424745, #4a4c48);">
      <mat-expansion-panel-header>

        <mat-panel-title class="content">
          <img style="margin-top:1%" class="comp" src="../../../assets/images/prospecta.jpg">
          PROSPECTA TECHNOLOGIES
        </mat-panel-title>

        <mat-panel-description style="width:100%">


        </mat-panel-description>
      </mat-expansion-panel-header>
      <li class="rangu">AUGUST-2021 - JULY-2022 </li>
      <li class="rangu">ROLE: SOFTWARE DEVELOPER</li>
      <h5 class="content">PROJECT</h5>
      <p class="content">IPA (PHASE 2)</p>

      <p class="rangu">The main objective of this project is to approval the product in the different stages and
        generate the
        formula that are used by customers in everyday products from foods and beverages to paper and
        pharmaceuticals. After approval the product the formal is verified by QA global team and then product
        will be generated into market. Here phase2 provides lots of changes to make more effective outcome
        of the product.</p>
      <p class="content">ENVINORMENT</p>
      <p class="rangu">Angular12, TypeScript, JavaScript, NPM, Express.js, Material, HTML5, CSS3, Azure
        DevOps, Azure Functions,Node js, MongoDB.</p>
      <p class="content">Responsibilities</p>
      <p class="rangu">
        Used NPM for installing required node modules and other published Angular NPM modules.
        <br>Updated the application with new features of Angular12.
        <br>Worked on some of the new features of Angular12 like CLI prompts, Angular material &
        component dev kit, Drag & drop, Virtual scrolling, Application performance improvements.
        <br> Designed and developed the application using Angular12 framework along with HTML5, CSS,
        Type Script, JavaScript, Material, Angular flex-layout
        <br>Built RESTful APIs using the Azure API Functions.
        <br>Moved existing Angular controllers and services to Angular12 components for more responsive
        and less dependency.
        <br>Used Azure DevOps to keep track of bugs to reduce downtime, increase productivity and
        Communication.
      </p>
      <hr class="content">
      <p class="content">VMS</p>
      <p class="rangu">Project aims at developing a Web Application to manage and track visitors of an organization. The
        application captures visitor information. Security person can create customized visitor pass with visitor
        name, photograph, organization name, contact details and escort name. To Monitor and track visitors
        of an Organization, Automated Visitor Management System is very essential.</p>
      <p class="content">ENVINORMENT</p>
      <p class="rangu">Angular12, TypeScript, JavaScript, NPM, Express.js, Material, HTML5, CSS3, Azure
        DevOps, Azure Functions, MongoDB.</p>
      <p class="content">Responsibilities</p>
      <p class="rangu">Used NPM for installing required node modules and other published Angular NPM modules.
        <br>Designed and developed the application using Angular13 framework along with HTML5, CSS,
        Type Script, JavaScript Angular Flex-layout and Material.
        <br> Built RESTful APIs using Nodejs.
        <br> Created Responsive Designs (Mobile/Tablet/Desktop) using Angular flex-layout & Material.
        <br>Created Login authenticate using JWT and Email authentication using Node Mailer.
        <br> Used ngx-webcam module for capture the image.
        <br> Used the Mongo DB Griefs Storage to Store the capture images with Multer middleware
      </p>




    </mat-expansion-panel>
  </mat-accordion>


  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
      style="margin-top:20px;border:2px solid;border-color:rgb(170, 235, 252);width: 50%;margin-left: 25%;background-image: radial-gradient(circle, #343639, #373c3e, #3c4241, #424745, #4a4c48);">
      <mat-expansion-panel-header>

        <mat-panel-title class="content">
          <img style="margin-top:1%" class="comp" src="../../../assets/images/softsolindia.png">
          SOFTSOL INDIA LTD.
        </mat-panel-title>

        <mat-panel-description style="width:100%">


        </mat-panel-description>
      </mat-expansion-panel-header>

      <li class="rangu">MARCH 2021 - AUGUST-2021</li>
      <li class="rangu">ROLE: JUNIOR DEVELOPER</li>
      <h5 class="content">PROJECT</h5>
      <p class="content">AQUILA</p>
      <p class="rangu">The Aquila platform that leverages Artificial Intelligence and Machine Learning to assess
        healthcare
        data for suspicious patterns and proactively detect workers compensation fraud. Saving Insurance
        Companies Millions of dollars and weeks or work</p>
      <p class="content">Responsibilities</p>
      <p class="rangu">
        Developed webpages for Dashboards, Login, Register using Angular9, HTML5, CSS, TypeScript,
        Material & Angular flex-layout.<br>
        Involved using Python libraires like NumPy Pandas Matplotlib for EDA.<br>
        Have done Data Analysis, Data manipulation and data visualization to the Aquila Dataset.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
  <hr class="content">

  <!-- ------------------------study------------------------ -->

  <h3 style="padding-left: 8%;color: rgb(214, 214, 214);">EDUCATION
    <hr style="width:30%" id="edu">
  </h3>

<div>
  <mat-stepper orientation="vertical" style="background-image: radial-gradient(circle, #343639, #373c3e, #3c4241, #424745, #4a4c48);margin-left:2%;">
    <mat-step class="content">
      <ng-template matStepLabel>B.Tech</ng-template>
      <ng-template matStepContent>
        <li class="rangu">MAY-2019</li>
        <p  class="rangu">B.Tech in Computer Science ENGINEERING (CSE) from JNTU Kakinada University with aggregate of 70%.</p>
       
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>INTERMEDIATE</ng-template>
      <ng-template matStepContent>
        <li class="rangu">MAY-2015</li>
        <p class="rangu">Intermediate in MPC from NRI junior college with aggregate of 83%.</p>
       
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>SSC</ng-template>
      <li class="rangu">MAY-2013</li>
      <p class="rangu">SSC from Sree Krishna Grammar School with CGPA points of 8.3 </p>
   
    </mat-step>
  </mat-stepper>
  </div>

  <hr class="content">
<!-- ------------------------------BLOG--------------------------------------- -->
<h3 style="padding-left: 8%;color: rgb(214, 214, 214);">PROJECTS BY MY OWN
  <hr style="width:30%" id="blo">
</h3>


<div fxLayout="row" fxLayoutAlign="space-around center">
  <mat-card style="background-image: radial-gradient(circle, #343639, #373c3e, #3c4241, #424745, #4a4c48);margin-left:2%;width: 50%;" >
    <p class="content">PROJECT: BIKE LAB</p>
    <p class="rangu"> The BIKE LAB Application is Usually, a bike servicing product is to provide "QUALITY SERVICE".
        That user can get a bike servicing in just a single click there are lots of services for motorcycle provide by this application like General Service, Battery Change , Bike Wash , Body Check, Engine Oil change etc..
        Here in the application provide pickUp and delivery services on the user selected date and time.
        BIKE LAB application is fully committed to create outsatnding service that meet customer's demand by utilizing its dynamic, long-nurtured technological.
      </p>
     
      <p class="content">ENVINORMENT</p>
      <p class="rangu">Angular12, Node Js, JavaScript, NPM, Express.js, HTML5, CSS3, BootStrap MongoDB, One single Push Notification, Razor Pay Payment Gateway,Swagger for Api Documentation</p>
      <p class="fa fa-github"><br> 
        
       <a href="https://github.com/VinayAllampalli/Bike-Service-Frontend">https://github.com/VinayAllampalli/Bike-Service-Frontend</a>
        <br>
      <a href="https://github.com/VinayAllampalli/Bike-service-Backend">https://github.com/VinayAllampalli/Bike-service-Backend</a>
      </p>
    </mat-card>
    
  </div>

  
  <hr class="content">
    <!-- ----------------------Contact Form-------------------------------- -->
    <h3 style="padding-left: 8%;color: rgb(214, 214, 214);">Contact
      <hr style="width:30%" id="con">
      </h3>

    <div fxLayout="column" fxLayoutAlign="center center">
     <form [formGroup]="form">
      <mat-card style="border:2px solid;border-color:rgb(170, 235, 252);background-image: radial-gradient(circle, #343639, #373c3e, #3c4241, #424745, #4a4c48);margin-left:2%;">
        
  
          <mat-form-field class="form" appearance="outline">
              <mat-label class="content">Name</mat-label>
              <input matInput type="text" class="content"  formControlName="Name" placeholder="Enter Your Name">
          </mat-form-field>
          <mat-form-field  class="form" appearance="outline">
              <mat-label class="content">Email</mat-label>
              <input matInput type="email"  class="content" formControlName="email" placeholder="Enter Your Email">
          </mat-form-field>
          <mat-form-field class="form"  appearance="outline">
              <mat-label class="content">Message</mat-label>
              <textarea matInput type="text" class="content" formControlName="Message">
             </textarea>
          </mat-form-field>
          <div fxLayout="row" fxLayoutAlign="center center">
              <button mat-raised-button  style="color:white; border:2px solid;border-color:rgb(170, 235, 252);margin-top:2%;" class="btn"
                  (click)="submit()">Submit</button>
          </div>
          </mat-card>
          </form>
      </div>
      <!-- <hr class="content"> -->
      <!-----------------------------follow me---------------------------------  -->
  <!-- <h3 style="padding-left: 8%;color: rgb(214, 214, 214);">Follow Me
    <hr style="width:30%">
  </h3> -->
  <div fxLayout="row" fxLayoutAlign="center center">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <a href="https://www.linkedin.com/in/vinay-allampalli-2153461b4/" class="fa fa-linkedin"></a>
    <a href="https://github.com/VinayAllampalli" class="fa fa-github"></a>
    <a href="https://www.facebook.com" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com" class="fa fa-instagram"></a>
  
      </div>

      


</div>

<div class="to-top" (click)="scrollToTop()">
  <mat-icon> vertical_align_top</mat-icon>
  </div>


